<title>Anime Scheduler</title>
<div class="container-fluid">
    <h2>Overview</h2>
    <p>
        The AnimeScheduler is an application that will aid
        you in organizing all of the anime you have watched on
        a simple application so you don't forget that different 
        shows you watch on a seasonal basis.
    </p>
    <br>
    <h2>Features</h2>
    <ul>
        <li>Ability to see all the shows you are watching or have watched</li>
        <li>Ability to see the anime shows you have saved for later in the backlog</li>
        <li>Ability to see shows you watch on a daily basis</li>
        <li>Ability to add a show to the list of all shows you watch</li>
        <li>You can add, delete or update a show you are watching/about to watch</li>
    </ul>
    <h2>Where to start?</h2>
    <p>
        Check out the navbar on the top to go through the different menu options.
    </p>
</div>